@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'cera-pro-bold';
    src: url('/fonts/Cera-Pro-Bold.otf');
}

@font-face {
    font-family: 'cera-pro-medium';
    src: url('/fonts/Cera-Pro-Medium.otf');
}

html {
    font-family: 'cera-pro-bold';
}

.medium-font {
    font-family: 'cera-pro-medium';
}